* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 160px;
  background: lightgray;
}

.url-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.url-block__input {
  display: block;
  outline: none;
  font-size: 64px;
}